*
{
  margin: 0;
  padding: 0;
  font-family: "proxima-nova","Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*-----------------contact----------------*/
#contact
{
  margin-top: 20px;
}
#contact h3
{
  font-size: 30px;
}
#contact a
{
  color: black;
}
#contact a:hover
{
  color: lightblue;
  text-decoration-line: none;
}

/*-----------------intro----------------*/
#intro h1
{
  padding-top: 200px;
  padding-bottom: 60px;
  font-size: 60px;
}

#intro h2
{
  color: black;
  font-size: 60px;
  margin-bottom: 180px;
}

#intro h6
{
    color: black;
    font-size: 40px;
    margin-bottom: 200px;
}


/*-----------------foli----------------*/
#foli
h2
{
  padding-top: 45%;
  padding-bottom: 55%;
  margin-bottom: 130px;
  color: white;
  font-size: ;
  max-height: 250px;
}
.folio-caption1
{
  background-image: url("img/banner2.jpg");
  background-size: cover;
  background-color: lightblue;
  opacity: 0.7;
  margin-bottom: 100px;
}
.folio-caption1:hover
{
  background-image: none;
  background-size: cover;
  background-color: lightblue;
  opacity: 0.7;
  margin-bottom: 100px;
}

.folio-caption2
{
  background-image: url("img/gp.jpg");
  background-size: cover;
  background-color: lightblue;
  opacity: 0.7;
  margin-bottom: 100px;
}
.folio-caption2:hover
{
  background-image: none;
  background-size: cover;
  background-color: lightblue;
  opacity: 0.7;
  margin-bottom: 100px;
}
.folio-caption3
{
  background-image: url("img/code.jpg");
  background-size: cover;
  background-color: lightblue;
  opacity: 0.7;
  margin-bottom: 100px;
}
.folio-caption3:hover
{
  background-image: none;
  background-size: cover;
  background-color: lightblue;
  opacity: 0.7;
  margin-bottom: 100px;
}
#foli a:hover
{
  text-decoration-line: none;
}

/*-----------------pageturn----------------*/
#pageturn
{
  margin-top: 60px;
}
#pageturn a
{
  color: black;
}
#pageturn a:hover
{
  color: lightblue;
  text-decoration-line: none;
}
