*
{
  margin: 0;
  padding: 0;
  font-family: "proxima-nova","Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*-----------------contact----------------*/
#contact
{
  margin-top: 1vh;
}
#contact h3
{
  font-size: 3vw;
}
#contact a
{
  color: black;
}
#contact a:hover
{
  color: lightblue;
  text-decoration-line: none;
}

/*-----------------intro----------------*/
#intro h1
{
  padding-top: 25vh;
  padding-bottom: 10vh;
  font-size: 6vw;
}

#intro h2
{
  color: black;
  font-size: 4vw;
  margin-bottom: 40vh;
}

#intro h6
{
    color: black;
    font-size: 3vw;
    margin-bottom: 300px;
}


/*-----------------foli----------------*/
#foli
h2
{
  padding-top: 45%;
  padding-bottom: 55%;
  margin-bottom: 130px;
  color: white;
  font-size: 32px;
  max-height: 250px;
}
.folio-caption1
{
  background-image: url("img/banner2.jpg");
  background-size: cover;
  background-color: lightblue;
  opacity: 0.7;
  margin-bottom: 100px;
}
.folio-caption1:hover
{
  background-image: none;
  background-size: cover;
  background-color: lightblue;
  opacity: 0.7;
  margin-bottom: 100px;
}

.folio-caption2
{
  background-image: url("img/gp.jpg");
  background-size: cover;
  background-color: lightblue;
  opacity: 0.7;
  margin-bottom: 100px;
}
.folio-caption2:hover
{
  background-image: none;
  background-size: cover;
  background-color: lightblue;
  opacity: 0.7;
  margin-bottom: 100px;
}
.folio-caption3
{
  background-image: url("img/code.jpg");
  background-size: cover;
  background-color: lightblue;
  opacity: 0.7;
  margin-bottom: 100px;
}
.folio-caption3:hover
{
  background-image: none;
  background-size: cover;
  background-color: lightblue;
  opacity: 0.7;
  margin-bottom: 100px;
}
#foli a:hover
{
  text-decoration-line: none;
}

/*-----------------pageturn----------------*/
#pageturn
{
  margin-top: 10px;
}
.navbar
{
  background-color: white;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar a
{
  color: black;
  float: left;
  display: block;
  text-align: center;
  padding: 10px 10px;
  text-decoration-line: none;
  font-size: 2vw;
}
.navbar a:hover
{
  color: lightblue;
  text-decoration-line: none;
}
