*
{
  margin: 0;
  padding: 0;
  font-family: "proxima-nova","Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*-----------------topnav----------------*/
#topnav
{
  background-color: white;
  overflow: hidden;
  height: auto;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 20px;
  padding-top: 20px;
}
#topnav a
{
  padding: 6px 16px 6px 8px;
  text-decoration: none;
  font-size: 30px;
  color: black;
  display: block;
}

#topnav a:hover
{
  color: #D1D2F9;
  text-decoration-line: none;
}
@media screen and (max-height: 450px)
{
  .topnav {padding-top: 15px;}
  .topnav a {font-size: 18px;}
}
/*-----------------intro----------------*/
#intro
{
  margin-top: 25vh;
}
#intro h1
{
  padding-top: 1vh;
  padding-bottom: 1vh;
  font-size: 5vw;
}

#intro span
{
  color: black;
  background-color: #D1D2F9;
}

#intro span:hover
{
  color: #D1D2F9;
  background-color: white;
  text-decoration-line: none;
}
#intro a:hover
{
  color: #D1D2F9;
  background-color: white;
  text-decoration-line: none;
}
#intro h6
{
    padding-top: 4vh;
    padding-bottom: 50vh;
    color: black;
    font-size: 3vw;
}
#intro h6:hover
{
    color: #D1D2F9;
    text-decoration-line: none;
}

/*-----------------foli----------------*/
#foli h3
{
  color: black;
  font-size: 28px;
  padding-bottom: 50px;
}
#foli
h2
{
  padding-top: 45%;
  padding-bottom: 55%;
  margin-bottom: 12vh;
  color: white;
  font-size: 32px;
  max-height: 250px;
}
.folio-caption1
{
  background-image: url("img/banner2.jpg");
  background-size: cover;
  background-color: #A3BCF9;
  opacity: 0.7;

}
.folio-caption1:hover
{
  background-image: none;
  background-size: cover;
  background-color: #A3BCF9;
  opacity: 0.7;

}

.folio-caption2
{
  background-image: url("img/gp.jpg");
  background-size: cover;
  background-color: #FF99C9;
  opacity: 0.7;

}
.folio-caption2:hover
{
  background-image: none;
  background-size: cover;
  background-color: #FF99C9;
  opacity: 0.7;

}
.folio-caption3
{
  background-image: url("img/code.jpg");
  background-size: cover;
  background-color: #D1D2F9;
  opacity: 0.7;

}
.folio-caption3:hover
{
  background-image: none;
  background-size: cover;
  background-color: #D1D2F9;
  opacity: 0.7;

}
#foli a:hover
{
  text-decoration-line: none;
}

/*-----------------pageturn----------------*/
#pageturn
{
  margin-top: 10px;
}
.navbar
{
  background-color: white;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar a
{
  color: black;
  float: left;
  display: block;
  text-align: center;
  padding: 10px 10px;
  text-decoration-line: none;
  font-size: 2vw;
}
.navbar a:hover
{
  color: #D1D2F9;
  text-decoration-line: none;
}
