*
{
  margin: 0;
  padding: 0;
  font-family: "proxima-nova","Helvetica Neue", Helvetica, Arial, sans-serif;
}

body
{
  margin: 0;
}
/*-----------------home----------------*/
#home
{
  margin-top: 20px;
}
#home h3
{
  font-size: 30px;
}
#home a
{
  color: black;
}
#home a:hover
{
  color: lightblue;
  text-decoration-line: none;
}

/*-----------------intro----------------*/
#intro h1
{
  padding-top: 200px;
  padding-bottom: 180px;
  font-size: 70px;
}

#intro h6
{
    color: black;
    font-size: 40px;
    margin-bottom: 180px;
}

#intro h2
{
  padding-top: 25px;
  font-size: 45px;
}

/*-----------------goal----------------*/
#goal h2
{
  padding-top: 25px;
  font-size: 45px;
}
/*-----------------photo1----------------*/
#photo1 img
{
  max-width: 100%;
  height: auto;
  padding-top: 60px;
  padding-bottom: 10px;
}

/*-----------------skills----------------*/
#skills h2
{
  padding-top: 60px;
  padding-bottom: 40px;
  font-size: 45px;
}
#skills h4
{
  padding-bottom: 10px;
}

/*-----------------photo2----------------*/
#photo2 img
{
  max-width: 80%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 10px;
}
.center
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*-----------------about----------------*/
#about h2
{
  padding-top: 60px;
  padding-bottom: 40px;
  font-size: 45px;
}
#about h4
{
  padding-bottom: 10px;
}

/*-----------------photo3----------------*/
#photo3 img
{
  max-width: 80%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 10px;
}
.center
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*-----------------result----------------*/
#result h2
{
  padding-top: 80px;
  padding-bottom: 25px;
  font-size: 45px;
}
#result p
{
  font-size: 18px;
  margin-right: 40px;
}

/*-----------------result-photo----------------*/
#result-photo img
{
  max-width: 100%;
  height: auto;
  padding-top: 60px;
  padding-bottom: 10px;
}

/*-----------------challenges----------------*/
#challenges h2
{
  padding-top: 80px;
  padding-bottom: 25px;
  font-size: 45px;
}
#challenges p
{
  font-size: 18px;
}

/*-----------------challenges-photo----------------*/
#challenges-photo img
{
  max-width: 100%;
  height: auto;
  padding-top: 70px;
  padding-bottom: 10px;
}

/*-----------------process----------------*/
#process h2
{
  padding-top: 60px;
  padding-bottom: 25px;
  font-size: 45px;
}
#process h4
{
  padding-left: 0;
  padding-right: 0;
  padding-top: 10px;
}
#process p
{
  font-size: 18px;
}

/*-----------------process-photo----------------*/
#process-photo img
{
  max-width: 100%;
  height: auto;
  padding-top: 60px;
  padding-bottom: 10px;
}

/*-----------------solutions----------------*/
#solutions h2
{
  padding-top: 80px;
  padding-bottom: 25px;
  font-size: 45px;
}
#solutions h4
{
  padding-left: 0;
  padding-right: 0;
  padding-top: 30px;
}
#solutions p
{
  font-size: 18px;
}

/*-----------------queuing-photo----------------*/
#queuing-photo img
{
  max-width: 100%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 10px
}

/*-----------------entrance-photo----------------*/
#entrance-photo img
{
  max-width: 100%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 10px
}

/*-----------------layout-photo----------------*/
#layout-photo img
{
  max-width: 100%;
  height: auto;
  padding-top: 5px;
  padding-bottom: 5px
}

/*-----------------seating-photo----------------*/
#seating-photo img
{
  max-width: 100%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 10px;
}

/*-----------------interactive-photo----------------*/
#interactive-photo img
{
  max-width: 100%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 10px
}

/*-----------------pageturn----------------*/
#pageturn
{
  margin-top: 60px;
}
#pageturn a
{
  color: black;
}
#pageturn a:hover
{
  color: lightblue;
  text-decoration-line: none;
}
