*
{
  margin: 0;
  padding: 0;
  font-family: "proxima-nova","Helvetica Neue", Helvetica, Arial, sans-serif;
}

body
{
  margin: 0;
}

/*-----------------sidenav----------------*/
#sidenav
{
  height: 100%;
  width: 8vw;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  padding-top: 20px;
}
#sidenav a
{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 3vw;
  color: black;
  display: block;
}
#sidenav a:hover
{
  color: lightblue;
  text-decoration-line: none;
}
@media screen and (max-height: 450px)
{
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*-----------------intro----------------*/
#intro h1
{
  padding-top: 35vh;
  padding-bottom: 10vh;
  font-size: 8vw;
  margin-left: 8vw;
}

#intro h6
{
    color: black;
    font-size: 3vw;
    margin-bottom: 40vh;
    margin-left: 8vw;
}
/*-----------------goal----------------*/
#goal h2
{
  padding-top: 4vh;
  font-size: 4vw;
  margin-left: 8vw;
}
#goal p
{
  margin-left: 8vw;
  font-size: 1.5vw;
}
/*-----------------photo1----------------*/
#photo1
{
  margin-left: 8vw;
}
#photo1 img
{
  max-width: 100%;
  height: auto;
  margin-top: 10vh;
  margin-bottom: 2vh;
}

/*-----------------skills----------------*/
#skills
{
  margin-left: 8vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
}
#skills h2
{
  padding-top: 8vh;
  padding-bottom: 4vh;
  font-size: 4vw;
}
#skills h4
{
  padding-bottom: 2vh;
  font-size: 2.3vw;
}

/*-----------------photo2----------------*/
#photo2
{
  margin-left: 8vw;
}
#photo2 img
{
  max-width: 80%;
  height: auto;
  margin-top: 10vh;
  margin-bottom: 2vh;
}
.center
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*-----------------about----------------*/
#about
{
  margin-left: 8vw;
}
#about h2
{
  padding-top: 8vh;
  padding-bottom: 4vh;
  font-size: 4vw;
}
#about h4
{
  padding-bottom: 2vh;
  font-size: 2.3vw;
}

/*-----------------photo3----------------*/
#photo3
{
  margin-left: 8vw;
}
#photo3 img
{
  max-width: 80%;
  height: auto;
  margin-top: 10vh;
  margin-bottom: 2vh;
}
.center
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*-----------------result----------------*/
#result
{
  margin-left: 8vw;
}
#result h2
{
  padding-top: 8vh;
  padding-bottom: 4vh;
  font-size: 4vw;
}
#result p
{
  font-size: 2vw;
  margin-right: 40px;
}
#result h5
{
  font-size: 2.5vw;
  margin-right: 40px;
}

/*-----------------result-photo----------------*/
#result-photo
{
  margin-left: 8vw;
}
#result-photo img
{
  max-width: 100%;
  height: auto;
  margin-top: 10vh;
  margin-bottom: 2vh;
}

/*-----------------challenges----------------*/
#challenges
{
  margin-left: 8vw;
}
#challenges h2
{
  padding-top: 8vh;
  padding-bottom: 4vh;
  font-size: 4vw;
}
#challenges p
{
  font-size: 2vw;
}

/*-----------------challenges-photo----------------*/
#challenges-photo
{
  margin-left: 8vw;
}
#challenges-photo img
{
  max-width: 100%;
  height: auto;
  margin-top: 10vh;
  margin-bottom: 2vh;
}

/*-----------------process----------------*/
#process
{
  margin-left: 8vw;
}
#process h2
{
  padding-top: 8vh;
  padding-bottom: 4vh;
  font-size: 4vw;
}
#process h4
{
  padding-left: 0;
  padding-right: 0;
  padding-top: 2vh;
  font-size: 2.5vw;
}
#process p
{
  font-size: 2vw;
}

/*-----------------process-photo----------------*/
#process-photo
{
  margin-left: 8vw;
}
#process-photo img
{
  max-width: 100%;
  height: auto;
  margin-top: 10vh;
  margin-bottom: 2vh;
}

/*-----------------solutions----------------*/
#solutions
{
  margin-left: 8vw;
}
#solutions h2
{
  padding-top: 8vh;
  padding-bottom: 4vh;
  font-size: 4vw;
}
#solutions h4
{
  padding-left: 0;
  padding-right: 0;
  padding-top: 4vh;
  font-size: 2.5vw;
}
#solutions p
{
  font-size: 2vw;
}

/*-----------------queuing-photo----------------*/
#queuing-photo img
{
  max-width: 100%;
  height: auto;
  margin-top: 10vh;
  margin-bottom: 2vh;
}

/*-----------------entrance-photo----------------*/
#entrance-photo img
{
  max-width: 100%;
  height: auto;
  margin-top: 10vh;
  margin-bottom: 2vh;
}

/*-----------------layout-photo----------------*/
#layout-photo p
{
  font-size: 10px;
  color: grey;
}
#layout-photo img
{
  max-width: 100%;
  height: auto;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

/*-----------------seating-photo----------------*/
#seating-photo img
{
  max-width: 100%;
  height: auto;
  margin-top: 10vh;
  margin-bottom: 2vh;
}

/*-----------------interactive-photo----------------*/
#interactive-photo img
{
  max-width: 100%;
  height: auto;
  margin-top: 10vh;
  margin-bottom: 2vh;
}

/*-----------------pageturn----------------*/
#pageturn
{
  margin-left: 8vw;
  margin-top: 10px;
}
.navbar
{
  background-color: white;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar a
{
  color: black;
  float: left;
  display: block;
  text-align: center;
  padding: 10px 10px;
  text-decoration-line: none;
  font-size: 2vw;
}
.navbar a:hover
{
  color: lightblue;
  text-decoration-line: none;
}
