*
{
  margin: 0;
  padding: 0;
  font-family: "proxima-nova","Helvetica Neue", Helvetica, Arial, sans-serif;
}

body
{
  margin: 0;
}

/*-----------------sidenav----------------*/
#sidenav
{
  height: 100%;
  width: 60px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  padding-top: 20px;
}
#sidenav a
{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 30px;
  color: black;
  display: block;
}
#sidenav a:hover
{
  color: lightblue;
  text-decoration-line: none;
}
@media screen and (max-height: 450px)
{
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*-----------------intro----------------*/
#intro
{
  margin-left: 60px;
}
#intro h1
{
  padding-top: 200px;
  padding-bottom: 60px;
  font-size: 70px;
}

#intro h6
{
    color: black;
    font-size: 40px;
    margin-bottom: 260px;
}

#intro h2
{
  padding-top: 25px;
  font-size: 45px;
}

/*-----------------goal----------------*/
#goal
{
  margin-left: 60px;
}
#goal h2
{
  padding-top: 25px;
  font-size: 45px;
}
/*-----------------photo1----------------*/
#photo1
{
  margin-left: 60px;
}
#photo1 img
{
  max-width: 100%;
  height: auto;
  padding-top: 60px;
  padding-bottom: 10px;
}

/*-----------------skills----------------*/
#skills
{
  margin-left: 60px;
}
#skills h2
{
  padding-top: 60px;
  padding-bottom: 40px;
  font-size: 45px;
}
#skills h4
{
  padding-bottom: 10px;
}

/*-----------------photo2----------------*/
#photo2
{
  margin-left: 60px;
}
#photo2 img
{
  max-width: 80%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 10px;
}
.center
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*-----------------about----------------*/
#about
{
  margin-left: 60px;
}
#about h2
{
  padding-top: 60px;
  padding-bottom: 40px;
  font-size: 45px;
}
#about h4
{
  padding-bottom: 10px;
}

/*-----------------photo3----------------*/
#photo3
{
  margin-left: 60px;
}
#photo3 img
{
  max-width: 80%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 10px;
}
.center
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*-----------------result----------------*/
#result
{
  margin-left: 60px;
}
#result h2
{
  padding-top: 80px;
  padding-bottom: 25px;
  font-size: 45px;
}
#result p
{
  font-size: 18px;
  margin-right: 40px;
}

/*-----------------result-photo----------------*/
#result-photo
{
  margin-left: 60px;
}
#result-photo img
{
  max-width: 100%;
  height: auto;
  padding-top: 60px;
  padding-bottom: 10px;
}

/*-----------------challenges----------------*/
#challenges
{
  margin-left: 60px;
}
#challenges h2
{
  padding-top: 80px;
  padding-bottom: 25px;
  font-size: 45px;
}
#challenges p
{
  font-size: 18px;
}

/*-----------------challenges-photo----------------*/
#challenges-photo
{
  margin-left: 60px;
}
#challenges-photo img
{
  max-width: 100%;
  height: auto;
  padding-top: 70px;
  padding-bottom: 10px;
}

/*-----------------process----------------*/
#process
{
  margin-left: 60px;
}
#process h2
{
  padding-top: 60px;
  padding-bottom: 25px;
  font-size: 45px;
}
#process h4
{
  padding-left: 0;
  padding-right: 0;
  padding-top: 10px;
}
#process p
{
  font-size: 18px;
}

/*-----------------process-photo----------------*/
#process-photo
{
  margin-left: 60px;
}
#process-photo img
{
  max-width: 100%;
  height: auto;
  padding-top: 60px;
  padding-bottom: 10px;
}

/*-----------------solutions----------------*/
#solutions
{
  margin-left: 60px;
}
#solutions h2
{
  padding-top: 80px;
  padding-bottom: 25px;
  font-size: 45px;
}
#solutions h4
{
  padding-left: 0;
  padding-right: 0;
  padding-top: 30px;
}
#solutions p
{
  font-size: 18px;
}

/*-----------------queuing-photo----------------*/
#queuing-photo
{
  margin-left: 60px;
}
#queuing-photo img
{
  max-width: 100%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 10px
}

/*-----------------entrance-photo----------------*/
#entrance-photo
{
  margin-left: 60px;
}
#entrance-photo img
{
  max-width: 100%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 10px
}

/*-----------------layout-photo----------------*/
#layout-photo
{
  margin-left: 60px;
}
#layout-photo img
{
  max-width: 100%;
  height: auto;
  padding-top: 5px;
  padding-bottom: 5px
}

/*-----------------seating-photo----------------*/
#seating-photo
{
  margin-left: 60px;
}
#seating-photo img
{
  max-width: 100%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 10px;
}

/*-----------------interactive-photo----------------*/
#interactive-photo
{
  margin-left: 60px;
}
#interactive-photo img
{
  max-width: 100%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 10px
}

/*-----------------pageturn----------------*/
#pageturn
{
  margin-top: 60px;
  margin-left: 60px;
}
#pageturn a
{
  color: black;
}
#pageturn a:hover
{
  color: lightblue;
  text-decoration-line: none;
}
