*
{
  margin: 0;
  padding: 0;
  font-family: "proxima-nova","Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*-----------------sidenav----------------*/
#sidenav
{
  height: 100%;
  width: 8vw;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  padding-top: 20px;
}
#sidenav a
{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 3vw;
  color: black;
  display: block;
}
#sidenav a:hover
{
  color: lightblue;
  text-decoration-line: none;
}
@media screen and (max-height: 450px)
{
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*-----------------intro----------------*/
#intro
{
  margin-left: 8vw;
}
#intro h1
{
  padding-top: 35vh;
  padding-bottom: 10vh;
  font-size: 6vw;
}

#intro h6
{
    color: black;
    font-size: 3vw;
    margin-bottom: 50vh;
}

#intro h2
{
  padding-top: 4vh;
  padding-bottom: 0;
  font-size: 4vw;
}
#intro p
{
  font-size: 1.5vw;
}

/*-----------------result----------------*/
#result
{
  margin-left: 8vw;
  margin-top: 6vh;
  margin-bottom: 6vh;
}
#result h2
{
  padding-top: 8vh;
  padding-bottom: 4vh;
  font-size: 4vw;
}

#result h4
{
  padding-left: 0;
  padding-right: 0;
  font-size: 2.5vw;
}

/*-----------------challenges----------------*/
#challenges
{
  margin-left: 8vw;
}
#challenges h2
{
  padding-top: 8vh;
  padding-bottom: 0;
  font-size: 4vw;
}

#challenges p
{
  font-size: 2vw;
  margin-right: 5%;
}

/*-----------------process----------------*/
#process
{
  margin-left: 8vw;
}
#process h2
{
  padding-top: 8vh;
  padding-bottom: 0;
  font-size: 4vw;
}
#process p
{
  font-size: 2vw;
}

/*-----------------focus-areas----------------*/
#focus-areas
{
  margin-left: 8vw;
}
#focus-areas h2
{
  padding-top: 8vh;
  padding-bottom: 2vh;
  font-size: 4vw;
}

#focus-areas p
{
  font-size: 2vw;
}

/*-----------------solutions----------------*/
#solutions
{
  margin-left: 8vw;
}
#solutions h2
{
  padding-top: 8vh;
  padding-bottom: 4vh;
  font-size: 4vw;
}

#solutions img
{
  max-width: 100%;
  height: auto;
}


/*-----------------pageturnbottom----------------*/
#pageturn
{
  margin-left: 8vw;
  margin-top: 10px;
}
.navbar
{
  background-color: white;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar a
{
  color: black;
  float: left;
  display: block;
  text-align: center;
  padding: 10px 10px;
  text-decoration-line: none;
  font-size: 2vw;
}
.navbar a:hover
{
  color: lightblue;
  text-decoration-line: none;
}
