*
{
  margin: 0;
  padding: 0;
  font-family: "proxima-nova","Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*-----------------sidenav----------------*/
#sidenav
{
  height: auto;
  width: 60px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  margin-top: 20px;
}
#sidenav a
{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 30px;
  color: black;
  display: block;
}
#sidenav a:hover
{
  color: #FF99C9;
  text-decoration-line: none;
}
@media screen and (max-height: 450px)
{
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*-----------------intro----------------*/
#intro h1
{
  padding-top: 35vh;
  padding-bottom: 10vh;
  font-size: 6vw;
}
#intro span
{
  color: black;
  background-color: #FF99C9;
}
#intro span:hover
{
  color: #FF99C9;
  background-color: white;
  text-decoration-line: none;
}
#intro a:hover
{
  color: #FF99C9;
  background-color: white;
  text-decoration-line: none;
}
#intro h6
{
    color: black;
    font-size: 3vw;
    margin-bottom: 40vh;
}
#intro h6:hover
{
    color: #D1D2F9;
    text-decoration-line: none;
}
/*-----------------goal----------------*/
#goal h2
{
  padding-top: 4vh;
  font-size: 4vw;
}
/*-----------------quote1----------------*/
#quote1
{
  background-image: url("img/watercolour3.jpg");
  background-size: 100%;
  background-position: center;
  background-color: #FF99C9;
  opacity: 0.9;
  margin-top: 10vh;
  margin-bottom: 10vh;

  padding-top: 20%;
  padding-bottom: 20%;
  padding-left: 15%;
  padding-right: 15%;
  color: white;
}
#quote1 h2
{
  font-size: 4.3vw;
  padding-left: 15%;
  padding-right: 10%;
}
#quote1 h5
{
  font-size: 2vw;
  padding-left: 15%;
  padding-right: 10%;
}
/*-----------------skills----------------*/
#skills
{
  margin-top: 5vh;
  margin-bottom: 8vh;
}
#skills h2
{
  padding-top: 8vh;
  padding-bottom: 4vh;
  font-size: 4vw;
}
#skills h4
{
  padding-bottom: 2vh;
  font-size: 2.5vw;
}

/*-----------------filler----------------*/
#filler
{
  padding-top: 2vh;
  padding-bottom: 2vh;
}
#filler img
{
  max-width: 95%;
  margin-left: 3vw;
}
/*-----------------about----------------*/
#about
{
  margin-top: 5vh;
  margin-bottom: 8vh;
}
#about h2
{
  padding-top: 8vh;
  padding-bottom: 4vh;
  font-size: 4vw;
}
#about h4
{
  padding-bottom: 2vh;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 2.5vw;
}
/*-----------------result----------------*/
#result
{
  margin-top: 5vh;
  margin-bottom: 8vh;
}
#result h2
{
  padding-top: 8vh;
  padding-bottom: 4vh;
  font-size: 4vw;
}
#result h4
{
  padding-bottom: 2vh;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 2.5vw;
}

/*-----------------challenges----------------*/
#challenges h2
{
  padding-top: 8vh;
  padding-bottom: 0;
  font-size: 4vw;
}
#challenges p
{
  font-size: 1.7vw;
}

/*-----------------quote2----------------*/
#quote2
{
  background-image: url("img/watercolour22.jpg");
  background-size: 100%;
  background-position: center;
  background-color: #FF99C9;
  opacity: 0.9;
  margin-top: 8vh;
  margin-bottom: 10vh;

  padding-top: 15%;
  padding-bottom: 15%;
  padding-left: 10%;
  padding-right: 10%;
  color: white;
}

#quote2 h2
{
  font-size: 3.8vw;
  padding-left: 3%;
  padding-right: 3%;
}
#quote2 h5
{
  font-size: 2vw;
  padding-left: 5%;
  padding-right: 5%;
}
/*-----------------process----------------*/
#process
{
  margin-top: 8vh;
  margin-bottom: 8vh;
}
#process h2
{
  padding-bottom: 2vh;
  font-size: 4vw;
}
#process h4
{
  padding-left: 0;
  padding-right: 0;
  padding-top: 2vh;
}
#process p
{
  font-size: 2vw;

}

/*-----------------highlights----------------*/
#highlights h2
{
  padding-top: 8vh;
  padding-bottom: 8vh;
  font-size: 4vw;
}

#highlights h3
{
  padding-top: 200px;
  padding-bottom: 100px;
  margin-bottom: 40px;
  color: white;
  font-size: 32px;
  text-align: left;
  padding-left: 10px;
  max-height: 350px;
}
.highlights1
{
  background-image: url("img/gp.jpg");
  background-size: cover;
  background-color: #FF99C9;
  opacity: 0.7;
}
.highlights1:hover
{
  background-image: none;
  background-size: cover;
  background-color: #FF99C9;
  opacity: 0.7;
}

.highlights2
{
  background-image: url("img/purple.jpg");
  background-size: cover;
  background-color: #FF99C9;
  opacity: 0.7;
}
.highlights2:hover
{
  background-image: none;
  background-size: cover;
  background-color: #FF99C9;
  opacity: 0.7;
}
.highlights3
{
  background-image: url("img/wicrop.jpg");
  background-size: cover;
  background-color: #FF99C9;
  opacity: 0.7;
  margin-bottom: 100px;
}
.highlights3:hover
{
  background-image: none;
  background-size: cover;
  background-color: #FF99C9;
  opacity: 0.7;
}
#highlights a:hover
{
  text-decoration-line: none;
}

/*-----------------pageturn----------------*/
#pageturn
{
  margin-top: 10px;
}
.navbar
{
  background-color: white;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar a
{
  color: black;
  float: left;
  display: block;
  text-align: center;
  padding: 10px 10px;
  text-decoration-line: none;
  font-size: 2vw;
}
.navbar a:hover
{
  color: #FF99C9;
  text-decoration-line: none;
}
