*
{
  margin: 0;
  padding: 0;
  font-family: "proxima-nova","Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*-----------------sidenav----------------*/
#sidenav
{
  height: 100%;
  width: 8vw;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  padding-top: 20px;
}
#sidenav a
{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 3vw;
  color: black;
  display: block;
}
#sidenav a:hover
{
  color: lightblue;
  text-decoration-line: none;
}
@media screen and (max-height: 450px)
{
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*-----------------intro----------------*/
#intro h1
{
  padding-top: 250px;
  padding-bottom: 60px;
  font-size: 6vw;
  margin-left: 8vw;
}
#intro h6
{
    color: black;
    font-size: 3vw;
    margin-bottom: 260px;
    margin-left: 8vw;
}
#intro h2
{
  margin-left: 8vw;
  padding-top: 25px;
  font-size: 4vw;
}
#intro p
{
  margin-left: 8vw;
  font-size: 1.5vw;
}

/*-----------------quote1----------------*/
#quote1
{
  margin-left: 8vw;
  background-image: url("img/watercolour3.jpg");
  background-size: 100%;
  background-position: center;
  background-color: lightblue;
  opacity: 0.9;
  margin-top: 40px;
  margin-bottom: 30px;

  padding-top: 12%;
  padding-bottom: 12%;
  padding-left: 15%;
  padding-right: 15%;
  color: white;
}
#quote1 h2
{
  font-size: 4.3vw;
  padding-left: 15%;
  padding-right: 10%;
}
#quote1 h5
{
  font-size: 2vw;
  padding-left: 15%;
  padding-right: 10%;
}
/*-----------------skills----------------*/
#skills
{
  margin-left: 8vw;
  margin-bottom: 20px;
}
#skills h2
{
  margin-left: 8vw;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 4vw;
}
#skills h4
{
  margin-left: 8vw;
  padding-bottom: 10px;
  font-size: 2.5vw;
}
/*-----------------about----------------*/
#about
{
  margin-left: 8vw;
}
#about h2
{
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 4vw;
}
#about h4
{
  padding-bottom: 20px;
  margin-left: 15%;
  margin-right: 15%;
  font-size: 2.5vw;
}

/*-----------------filler----------------*/
#filler
{
  margin-left: 8vw;
  padding-top: 20px;
  padding-bottom: 20px;
}
#filler img
{
  max-width: 100%;
  margin-left: 3vw;
}

/*-----------------result----------------*/
#result
{
  margin-left: 8vw;
}
#result h2
{
  padding-top: 20px;
  padding-bottom: 25px;
  font-size: 4vw;
}
#result h4
{
  padding-bottom: 30px;
  margin-left: 15%;
  margin-right: 15%;
  font-size: 2.5vw;
}

/*-----------------challenges----------------*/
#challenges
{
  margin-left: 8vw;
}
#challenges h2
{
  padding-top: 20px;
  padding-bottom: 0;
  font-size: 4vw;
}
#challenges p
{
  font-size: 2vw;
}

/*-----------------quote2----------------*/
#quote2
{
  margin-left: 8vw;

  background-image: url("img/watercolour2.jpg");
  background-size: 100%;
  background-position: center;
  background-color: lightblue;
  opacity: 0.9;
  margin-top: 20px;
  margin-bottom: 60px;

  padding-top: 12%;
  padding-bottom: 7%;
  padding-left: 10%;
  padding-right: 10%;
  color: white;
}

#quote2 h2
{
  font-size: 3.8vw;
  padding-left: 3%;
  padding-right: 3%;
}
#quote2 h5
{
  font-size: 2vw;
  padding-left: 5%;
  padding-right: 5%;
}
/*-----------------process----------------*/
#process
{
  margin-left: 8vw;
}
#process h2
{
  padding-top: 10px;
  padding-bottom: 0;
  font-size: 4vw;
}
#process h4
{
  padding-left: 0;
  padding-right: 0;
  padding-top: 10px;
}
#process p
{
  font-size: 2vw;
  margin-right: 10%;
}

/*-----------------highlights----------------*/
#highlights
{
  margin-left: 8vw;
}
#highlights h2
{
  padding-top: 40px;
  padding-bottom: 45px;
  font-size: 4vw;
}

#highlights h3
{
  padding-top: 200px;
  padding-bottom: 100px;
  margin-bottom: 40px;
  color: white;
  font-size: 3vw;
  text-align: left;
  padding-left: 10px;
  max-height: 350px;
}
.highlights1
{
  background-image: url("img/gp.jpg");
  background-size: cover;
  background-color: lightblue;
  opacity: 0.7;
}
.highlights1:hover
{
  background-image: none;
  background-size: cover;
  background-color: lightblue;
  opacity: 0.7;
}

.highlights2
{
  background-image: url("img/purple.jpg");
  background-size: cover;
  background-color: lightblue;
  opacity: 0.7;
}
.highlights2:hover
{
  background-image: none;
  background-size: cover;
  background-color: lightblue;
  opacity: 0.7;
}
.highlights3
{
  background-image: url("img/wicrop.jpg");
  background-size: cover;
  background-color: lightblue;
  opacity: 0.7;
  margin-bottom: 100px;
}
.highlights3:hover
{
  background-image: none;
  background-size: cover;
  background-color: lightblue;
  opacity: 0.7;
}
#highlights a:hover
{
  text-decoration-line: none;
}

/*-----------------pageturn----------------*/
#pageturn
{
  margin-left: 8vw;
  margin-top: 10px;
}
#pageturn a
{
  color: black;
}
#pageturn a:hover
{
  color: lightblue;
  text-decoration-line: none;
}
